In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('customer.csv',usecols=['review','education','purchased'])
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
x=df.iloc[:,0:2]
y=df.iloc[:,-1]

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [9]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
oe.fit(x_train)
x_train=oe.transform(x_train)

Encoding categorical variables
data is of 2 types ->numerical
                   ->categorical
 there are 2 types in categorical 
    -->Nominal categorical data
    -->Ordinal categorical data
1) nominal: There is no order and relationship between the data.(ex:states)
2) ordinal: There is a relationship and order in categories.
3) Label encoding is similar to ordinal encoding and it is used for output labeling.
4) OrdinalEncoder should be used for encoding a ordered categories (ex: silver<gold<diamond).
5) LabelEncoder should be used for encoding a output variable(or output column),(ex: yes,no or true,false).
6) OneHotEncoder should be used for encoding a nominal data.

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(y_train)
y_train=le.transform(y_train)
y_test=le.transform(y_test)

In [13]:
y_train

array([1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0])

In [14]:
le.classes_

array(['No', 'Yes'], dtype=object)