In [26]:
import pandas as pd

In [27]:
df=pd.read_csv('Social_Network_Ads.csv')

In [28]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [29]:
x=df.iloc[:,2:4]

In [30]:
y=df.iloc[:,4]

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3,random_state=0)

In [32]:
from sklearn.preprocessing import StandardScaler
sd= StandardScaler()
sd.fit(x_train)
x_train_scaled=sd.transform(x_train)
x_test_scaled=sd.transform(x_test)

In [33]:
x_train_scaled = pd.DataFrame(x_train_scaled, columns=x_train.columns)
x_test_scaled = pd.DataFrame(x_test_scaled, columns=x_test.columns)

In [34]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
normal = lr.fit(x_train,y_train)
scaled = lr.fit(x_train_scaled,y_train)
y_pred_scaled = scaled.predict(x_test_scaled)
y_pred = normal.predict(x_test)

In [35]:
from sklearn.metrics import accuracy_score
print("accuracy without scaling",accuracy_score(y_test,y_pred))
print("accuracy with scaling",accuracy_score(y_test,y_pred_scaled))

accuracy without scaling 0.3416666666666667
accuracy with scaling 0.8666666666666667